@import "src/variables.module";

.contentWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $background_light;

  @media (prefers-color-scheme: dark) {
    & {
      background: $background_dark;
    }
  }

  .backgroundBall {
    display: block;
    position: absolute;
    width: 200vw;
    height: 200vw;
    background: $background_2_light;
    margin-right: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(50%, -40vh);
    @media (prefers-color-scheme: dark) {
      & {
        background: $background_2_dark;
      }
    }
  }

}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  background: $foreground_light;
  box-sizing: border-box;
  box-shadow: $shadow;
  font-family: -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  border-radius: $border_radius;
  overflow: hidden;

  form {
    padding: 2rem;
  }

  h2 {
    color: $headline_light;

    @media (prefers-color-scheme: dark) {
      & {
        color: $headline_dark;
      }
    }
  }

  h3 {
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $headline_2_light;

    @media (prefers-color-scheme: dark) {
      & {
        color: $headline_2_dark;
      }
    }
  }


  @media (prefers-color-scheme: dark) {
    & {
      background: $foreground_dark;
      color: $font_light;
    }
  }

  .user-box {
    position: relative;
    text-align: left;
    padding: 0 0 2rem 0;

    label {
      font-size: 0.7rem;
      font-weight: bold;
      color: #ccc;
      text-transform: uppercase;
      padding: 1rem;
    }

    h3 {
      text-align: center;
    }

    button {
      margin-top: 2rem;
    }
  }
}

.signin {
  margin: 0;
  width: 100%;
  padding: 4rem 2rem 4rem 2rem;
  background: $accent_light;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    & {
      background: $accent_dark;
    }
  }

  .login-buttons {
    position: relative;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    cursor: pointer;


    .logoImage {
      height: 40px;
      width: 40px;
      border-radius: 2px;
      margin: 0 1rem;
      overflow: hidden;
      background: black;
      transition: .2s opacity;

      &:hover {
        opacity: 0.5;
      }


      &#github {
        img {
          padding: 10px;
          box-sizing: border-box;
        }
      }

      img {
        height: 40px;
        width: 40px;
        fill: white;
        stroke: white;
      }

    }
  }
}