@import "../../variables.module.scss";
@import "../../index.scss";
@import "../Wrapper/style.scss";

.login-box {
  width: 400px;

  form {
    padding: 2rem;
  }

  h1#loginHeadline {
    color: $headline_light;
    text-align: center;

    @media (prefers-color-scheme: dark) {
      & {
        color: $headline_dark;
      }
    }
  }

  .checkbox input {
    height: 0.7rem;
    width: 0.7rem;
  }

  .signin label, h2, a:link, a:visited {
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $headline_2_light;
    transition: opacity 0.2s;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      & {
        color: $headline_2_dark;
      }
    }
  }

  a:link:hover {
    opacity: 0.5;
  }

  h2 {
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    & {
      background: $foreground_dark;
      color: $font_light;
    }
  }

  .user-box {
    position: relative;
    text-align: left;

    .inputPair {
      margin-top: 0.5rem;
    }

    h2 {
      text-align: center;
    }

    p {
      padding: 2rem;
    }

    button {
      margin-top: 2rem;
    }

    #input-error, .alert-error {
      border-radius: $border-radius;
      background: #fdc2c2;
      padding: 1rem;
      text-align: center;
      color: white;

      i {
        margin: 0 0.5rem;
      }
    }

    .required {
      color: #fdc2c2;
    }
  }

  .info {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding: 15px 2rem;
    box-sizing: border-box;
    background-color: $background_2_light;
    bottom: 0;
    text-align: right;
    color: $headline_2_light;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $background_2_dark;
        color: $headline_2_dark;
      }
    }
  }
}


.signin {
  margin: 0;
  width: 100%;
  padding: 4rem 2rem 4rem 2rem;
  background: $accent_light;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    & {
      background: $accent_dark;
    }
  }

  .login-buttons {
    position: relative;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;

    .logoImage, .social-button {
      height: 40px;
      width: 40px;
      border-radius: 2px;
      margin: 0 1rem;
      overflow: hidden;
      background: black;
      transition: .2s opacity;

      i {
        width: 100%;
        height: 100%;
        padding: 7.5px;
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
      }

      &:hover {
        opacity: 0.5;
      }


      &#github {
        img {
          padding: 10px;
          box-sizing: border-box;
        }
      }

      img {
        height: 40px;
        width: 40px;
        fill: white;
        stroke: white;
      }

    }
  }
}