@import "../../variables.module.scss";
@import "../../index.scss";
@import "../Wrapper/style.scss";
@import "../Navigation/style.scss";

.login-box {
  width: 600px;

  form {
    padding: 2rem;
  }

  .checkbox input {
    height: 0.7rem;
    width: 0.7rem;
  }

  .signin label, h2, a:link, a:visited {
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $headline_2_light;
    transition: opacity 0.2s;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      & {
        color: $headline_2_dark;
      }
    }
  }

  a:link:hover {
    opacity: 0.5;
  }

  h2 {
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    & {
      background: $foreground_dark;
      color: $font_light;
    }
  }

  .user-box {
    background-color: $background_light;
    border-radius: $border-radius;
    box-shadow: $shadow;
    display: flex;
    overflow: auto;
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    text-align: left;

    @media (prefers-color-scheme: dark) {
      & {
        background: $foreground_dark;
      }
    }

    .inputPair {
      margin-top: 0.5rem;
    }

    h2 {
      text-align: center;
    }

    button {
      margin-top: 0.5rem;
    }

    #input-error, .alert-error {
      border-radius: $border-radius;
      background: #fdc2c2;
      padding: 1rem;
      text-align: center;
      color: white;

      i {
        margin: 0 0.5rem;
      }
    }

    .required {
      color: #fdc2c2;
    }
  }

  .info {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding: 15px 2rem;
    box-sizing: border-box;
    bottom: 0;
    text-align: right;
    color: $headline_2_light;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $background_2_dark;
        color: $headline_2_dark;
      }
    }
  }
}


.headlineBox {
  h1 {
    text-align: center;
  }

  .login-buttons {
    position: relative;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;

    .logoImage, .social-button {
      height: 40px;
      width: 40px;
      border-radius: 2px;
      margin: 0 1rem;
      overflow: hidden;
      background: black;
      transition: .2s opacity;

      i {
        width: 100%;
        height: 100%;
        padding: 7.5px;
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
      }

      &:hover {
        opacity: 0.5;
      }


      &#github {
        img {
          padding: 10px;
          box-sizing: border-box;
        }
      }

      img {
        height: 40px;
        width: 40px;
        fill: white;
        stroke: white;
      }

    }
  }

  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .fa-linkedin {
    background: #2867B2;
    color: white;
  }

}