@import "src/variables.module";

.spaces {
  min-width: 400px;
  max-width: 100%;
  text-align: left;
  height: 50%;
  min-height: 500px;
  display: flex;
  flex-direction: row;

  .headlineBox {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0;
    justify-content: center;

    .buttons {
      position: absolute;
      top: 0;
      left: 0;
      padding: inherit;
      box-sizing: border-box;
    }

    h1 {
      width: 10rem;
      border-bottom: 5px solid $headline_light;
    }
  }

  .loadingAnimation {
    margin: auto auto;
    display: block;
    padding: 1rem;
  }

  &.create {
    height: auto;
    min-height: auto;
  }

  svg {
    padding-right: 5px;
  }

  h2 {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    box-sizing: border-box;
    padding: 0;
    margin: 2rem 3rem 0 3rem;

    .minimalButton {
      position: absolute;
      right: 0;
      transition: 0.5s opacity;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &.create .spacesWrapper {
    padding: 2rem 2rem;
  }

  .spacesContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    .itemWrapper {
      min-width: 300px;
      padding: 0.7rem 2rem;
      overflow-y: auto;
      bottom: 0;
      margin-bottom: 0;
      box-sizing: content-box;

      .buttons {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: auto;
        display: flex;
        flex-direction: row;
        padding-right: 1rem;
      }

      .item {
        position: relative;
        padding: 1.5rem 1rem;
        border-radius: $border_radius;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;

        .menuIcon {
          margin-right: 10px;

          &:hover {
            opacity: 0.5;
          }
        }

        &:hover {
          background: $background_2_light;

          @media (prefers-color-scheme: dark) {
            & {
              background: $background_2_dark;
            }
          }
        }
      }
    }
  }
}