.Header {
  padding-right: 79px;
  padding-left: 118px;
  background-color: dimgrey;

}

.Logo{
  font-family: Work Sans, sans-serif;
  font-weight: 600;
  color: white;
  text-align: left;

}

.MenuButton{
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  size: 18px;
  margin-left: 38px;
}

.ToolBar{
  display: flex;
  justify-content: space-between;
}
