@import "../frontend/src/variables.module";

#about {
  position: relative;
  width: 100%;
  float: right;
  overflow: hidden;
  box-sizing: border-box;

  .backgroundBall {
    display: block;
    position: absolute;
    width: 200vw;
    height: 200vw;
    background: $background_2_light;
    margin-right: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(50%, -40vh);
    @media (prefers-color-scheme: dark) {
      & {
        background: $background_2_dark;
      }
    }
  }

  .separator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
  }

  .divider {
    position: relative;
    z-index: 100;
    margin-top: 4rem;

    background: $background_light;
    color: $headline_2_light;
    box-shadow: $shadow;

    border-radius: 100vw;
    box-sizing: border-box;
    width: 100vw;
    height: 100vw;

    margin-left: auto;
    margin-right: 0;

    max-width: 50rem;
    max-height: 50rem;
    min-width: 10rem;
    min-height: 10rem;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 80%;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      h2, p {
        margin-top: 0;
      }

      p {
        font-size: 1rem;
        max-width: 400px;
        min-width: 300px;
      }

      h2 {
        max-width: 170px;
        text-align: right;
        margin-right: 1rem;

        font-size: 3rem;
        max-font-size: 1rem;

        color: $accent-light;
      }

      @media only screen and (max-width: 770px) {
        h2, p {
          max-width: unset;
        }
      }
    }
  }

  .youtubeWrapper {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    .youtube {
      z-index: 13;
      position: relative;
      height: 30rem;
      width: 100%;
      max-width: 800px;
      box-shadow: 0 0 3rem rgba(0, 0, 0, .5);
      margin: 4rem auto;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

}
