/*$sidebar-bg-color: red;*/

@import 'node_modules/react-pro-sidebar/dist/scss/styles';
@import "src/variables.module";

.slider-parent {
  display: flex; /* establish flex container */
  flex-direction: row; /* stack flex items vertically */
  align-content: center;
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  height: 200px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .MuiSlider-thumb {
    background: $button_font_light;
    box-shadow: none;

    &:hover {
      box-shadow: 0 0 0 8px $accent_light;
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: $button_font_dark;
        -webkit-appearance: none;
        appearance: none;

      }
      &:hover {
        box-shadow: 0 0 0 8px $accent_light;
      }
    }
  }

  .MuiSlider-rail {
    background: $accent_light;

    @media (prefers-color-scheme: dark) {
      & {
        background: $accent_dark;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }

  .range-value {
    font-size: 1rem;
    text-align: center;
  }
}

.navwrapper {
  user-select: none;
  padding: 1rem;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.navbar {
  text-align: center;
  color: $button_font_light;
  height: 100%;
  width: 200px;
  min-width: 200px;
  transition: width, left, right, 0.3s;
  position: relative;
  z-index: 1009;

  @media (prefers-color-scheme: dark) {
    & {
      color: $button_font_dark;
    }
  }

  &.collapsed {
    width: 80px;
    min-width: 80px;
  }

  > .navbar-inner {
    background: $foreground_light;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 101;
    box-shadow: $shadow;
    border-radius: $border_radius;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      & {
        background: $foreground_dark;
      }
    }

    .navbar-layout {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 101;

      .menu {
        padding-top: 10px;
        padding-bottom: 10px;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          .menu-item {
            position: relative;
            font-size: 15px;
            transition: 0.2s color;

            &:hover, a:link:hover {
              color: $button_font_hover;
            }

            .inner-item {
              position: relative;
              display: flex;
              align-items: center;
              padding: 8px 35px 8px 20px;
              cursor: pointer;
              margin: auto auto;

              .icon-wrapper {
                margin-right: 10px;
                font-size: 14px;
                width: 35px;
                min-width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                display: inline-block;
                border-radius: 50%;
                border: solid 1px $accent_light;

                @media (prefers-color-scheme: dark) {
                  & {
                    border: solid 1px $accent_dark;
                  }
                }

                .icon {
                  display: flex;
                  height: 100%;
                  align-items: center;
                  justify-content: center;
                }
                .logoutbutton {
                  background-color: $logout_button_color;
                }
              }

              .item-content {
                flex-grow: 1;
                flex-shrink: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                > .closed {
                  display: none;
                }
              }
            }

            > .closed {
              display: none;
            }

            .react-slidedown {
              height: auto;
              transition-property: none;
              transition-duration: 0.2s;
              transition-timing-function: ease-in-out;
            }

            .rangeslider {
              padding: 0;
            }
          }

          .spacer-50 {
            height: 0px;
          }
        }
      }

      .bottom {
        margin-top: auto;
      }
    }

  }
}

.panel {
  height: 50%;
  display: flex;
  flex-direction: row;

  .headlineBox {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0;
    justify-content: center;

    .buttons {
      width: 10rem;
    }
  }

  .panelContent {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 50vh;

    @media (prefers-color-scheme: dark) {
      & {
        color: $button_font_dark;
        background: $foreground_dark;
      }
    }

    h2 {
      padding: 2rem 0 0 2rem;
      margin: 0;
    }

    .message {
      padding: 2rem;

      button {
        margin-top: 1rem;
      }
    }

  }
}
