@import "../frontend/src/variables.module";

#contact {
  position: relative;
  overflow: hidden;
  padding: 8rem 0;

  background: $background_light;
  @media (prefers-color-scheme: dark) {
    & {
      background: $background_dark;
    }
  }

  h1 {
    color: $accent_light;
  }

  h2 {
    color: white;
  }

  .contentWrapper {
    padding: 2rem;
  }

  .backgroundBall {
    z-index: 0;
    display: block;
    position: absolute;
    width: 200vw;
    height: 200vw;
    left: 50%;
    top: 0;
    border-radius: 50%;
    transform: translate(-50%, 0);

    background: $accent_dark;
    @media (prefers-color-scheme: dark) {
      & {
        background: $background_2_dark;
      }
    }
  }

  .aboutCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      box-shadow: $shadow;
      color: $accent_light;
      flex-shrink: 1;
      flex-grow: 1;
      width: 300px;
      margin: 0.75rem;
      padding: 2rem;
      text-align: center;
      border-radius: $border_radius;
      transition: transform 0.2s, opacity 0.2s, color 0.2s;
      background: $background_light;

      @media (prefers-color-scheme: dark) {
        & {
          color: $accent_dark;
          background: $background_2_dark;
          box-shadow: $shadow_dark;
        }
      }

      svg {
        display: block;
        margin: 1rem auto 2rem;
        font-size: 3rem;
        transition: transform 0.2s, opacity 0.2s, color 0.3s;
      }

      &:hover {
        opacity: 1;
        transform: translateY(-5px) scale(1.01);

        .insta {
          color: red;
        }

        .linkedin {
          color: #417efc;
        }

        .mail {
          color: $accent_dark;

          @media (prefers-color-scheme: dark) {
            & {
              color: $accent_light;
            }
          }
        }
      }

      label {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bolder;
        color: $headline_2_light;
      }

      p {
        color: black;
      }
    }
  }

}

#legal {
  position: relative;
  text-align: center;

  label, button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: $accent_light;
    display: block;
    margin: auto;
  }

  button:hover {
    opacity: 0.5;
  }
}
