.box {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
  background-color: lightgrey;
  margin: 20px;
}

.box > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}