.btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 1px;
  right: 1px
}

.contentWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.roomgrid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Playground {
  flex-grow: 1;
  height: 100vh;
  background-color: white;
  position: relative;
  overflow: hidden;

  .userRange {
    position: absolute;
    background: green;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(9, 121, 9, .4) 1%, rgba(255, 255, 255, 0) 70%);
    border: solid 1px rgba(255, 0, 0, .2);
    transition: 0.2s opacity;
  }

  .activeUser {
    .userRange {
      background: radial-gradient(circle, rgba(121, 9, 9, .4) 1%, rgba(255, 255, 255, 0) 70%);
      border: solid 1px rgba(255, 0, 0, .2);
    }

    .User {
      background-color: cadetblue;
    }
  }

  .User {
    background-color: gray;
    position: absolute;
    border-radius: 50%;
    display: block;
    user-select: none;
    overflow: hidden;
    transition: 0.2s opacity, 0.2s transform;

    video {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      height: 100%;
      border-radius: 100%;

      background-size: cover;
      overflow: hidden;
    }
  }
}
