@import "../frontend/src/variables.module";

#landing {
  width: 100%;
  max-height: 100vh;
  position: relative;
  background: $background_light;

  @media (prefers-color-scheme: dark) {
    & {
      background: $background_dark;
    }
  }

  #intro {
    width: 100%;
    max-height: 100vh;
    position: relative;

    z-index: 1;

    .contentWrapper {
      position: relative;
      width: 100%;
      max-height: 100vh;
      min-height: 80vh;
      margin: auto;

      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      flex-wrap: wrap;
      flex-direction: row-reverse;

      .screenshot {
        max-width: 600px;
        padding: 0 2rem;
        box-sizing: border-box;
        position: relative;
        z-index: 20;
        flex-grow: 2;
        flex-shrink: 0;

        .demo {
          position: relative;
          width: 100%;
          max-width: 90vw;
          box-shadow: $shadow;
          transform: translateX(30%) scale(1.6);

          @media screen and (max-width: 1200px) {
            & {
              transform: none;
            }
          }
        }
      }


      .content {
        max-width: 600px;
        display: block;
        position: relative;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        .landing-parallax {
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        .background {
          width: 150vh;
          height: 150vh;
          border-radius: 100vh;
          background: $background_2_light;
          transform: translateY(-50%);
          top: 50%;
          right: 0;
          z-index: -1;
          position: absolute;

          @media (prefers-color-scheme: dark) {
            & {
              background: rgba(0, 0, 0, 1);
            }
          }
        }

        .introText {
          display: block;
          position: relative;
          box-sizing: border-box;
          padding: 2rem;
          color: $accent_dark;

          @media (prefers-color-scheme: dark) {
            & {
              color: white;
            }
          }

          .headings {
            margin: 3vh 0;

            h2 {
              padding: 0;
              margin: 0;
              font-size: 4vh;

              &.subheading {
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }
}