@import "../frontend/src/variables.module";

#usp {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: $background_light;

  @media (prefers-color-scheme: dark) {
    & {
      background: $background_dark;
    }
  }

  .contentWrapper {
    padding: 2rem;
  }

  .backgroundBall {
    z-index: -1;
    display: block;
    position: absolute;
    width: 200vw;
    height: 200vw;
    background: $background_2_light;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: translate(-50%, -40vh);
    @media (prefers-color-scheme: dark) {
      & {
        background: $background_2_dark;
      }
    }
  }

  .separator {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;

    fill: $background_2_light;

    width: 100%;

    @media (prefers-color-scheme: dark) {
      & {
        fill: $background_2_dark;
      }
    }
  }

  h1 {
    font-size: 3rem;
    color: $accent_light;
    padding: 1rem 0 0;
    text-align: center;
    margin: 0;

    @media (prefers-color-scheme: dark) {
      & {
        color: $accent_dark;
      }
    }
  }

  h2.subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    padding: 0;
    margin: 0 0 2rem;
    color: black;

    @media (prefers-color-scheme: dark) {
      & {
        color: $headline_dark;
      }
    }
  }

  .aboutCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .card {
      box-shadow: $shadow;
      color: $accent_light;
      flex-shrink: 1;
      flex-grow: 1;
      width: 300px;
      background: $background_light;
      margin: 0.75rem;
      padding: 2rem;
      text-align: center;
      border-radius: $border_radius;
      transition: transform 0.2s, opacity 0.2s;

      @media (prefers-color-scheme: dark) {
        & {
          box-shadow: $shadow_dark;
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          background: $background_2_dark;
          color: $accent_dark;
        }
      }

      svg {
        display: block;
        margin: 1rem auto 2rem;
        font-size: 3rem;
      }

      &:hover {
        opacity: 1;
        transform: translateY(-5px) scale(1.01);
      }

      label {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bolder;
        color: $headline_2_light;

        @media (prefers-color-scheme: dark) {
          & {
            color: $headline_2_dark;
          }
        }
      }

      p {
        color: $button_font_light;
        @media (prefers-color-scheme: dark) {
          & {
            color: $button_font_dark;
          }
        }
      }
    }
  }

}