@import "../frontend/src/variables.module";

#tutorial {
  position: relative;
  overflow: hidden;
  padding-top: 5rem;

  background: $background_2_light;
  @media (prefers-color-scheme: dark) {
    & {
      background: $background_2_dark;
    }
  }

  .contentWrapper {
    padding: 2rem;
  }

  .backgroundBall {
    z-index: 0;
    display: block;
    position: absolute;
    width: 200vw;
    height: 200vw;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: translate(-50%, 0);

    background: $background_light;
    @media (prefers-color-scheme: dark) {
      & {
        background: $background_dark;
      }
    }
  }

  .separator {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;

    fill: $background_2_light;

    width: 100%;

    @media (prefers-color-scheme: dark) {
      & {
        fill: $background_2_dark;
      }
    }
  }

  h1 {
    font-size: 3rem;
    color: $accent_light;
    padding: 1rem 0 0;
    text-align: center;
    margin: 0;
  }

  h2.subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    padding: 0;
    margin: 0 0 2rem;
  }

  .list {
    margin: auto;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    flex: 1;
    padding-bottom: 5rem;

    .listItem {
      z-index: 1;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin: 0.75rem;
      flex-grow: 1;
      background: $background_light;
      border-radius: $border_radius;
      padding: 4rem 3rem;
      overflow: hidden;
      transition: transform 0.2s;

      box-shadow: $shadow;

      &:hover {
        transform: scale(1.01);
      }

      .itemIcon {
        color: $accent_light;
        text-align: center;
        flex-shrink: 0;
        flex-grow: 0;
        padding-right: 2rem;
        width: 4rem;
        font-size: 2rem;
        box-sizing: border-box;


      }

      .animateicon {
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &#cursoricon {
          animation-name: cursor_blink;
        }

        &#mouseicon {
          animation-name: mouse_move;
        }

        &#volumeicon {
          animation-name: volume_fade;
        }
      }
    }
  }

  @keyframes mouse_move {
    from {
      transform: translateX(-5%) rotate(-5deg);
    }

    to {
      transform: translateX(5%) rotate(5deg);
    }
  }

  @keyframes volume_fade {
    from {
      transform: translateX(-3%);
    }

    to {
      transform: translateX(3%);
    }
  }

  @keyframes cursor_blink {
    from {
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    to {
      opacity: 0.1;
    }
  }

}