@import "../../variables.module";

.settingsPanel {
  background: transparent;
  border-radius: $border_radius;
  overflow: hidden;

  .buttons {
    color: black;
    padding: 0;
    margin: 0;

    .iconButton.nostyle {
      color: black;
      font-size: 2rem;

      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }
  }

  .MuiPaper-root, .MuiDialog-paper {
    border-radius: $border_radius;
    background: $foreground_light;
    color: $button_font_light;
    overflow: hidden;
    width: 800px;
    max-width: 100%;

    @media (prefers-color-scheme: dark) {
      & {
        color: $button_font_dark;
        background: $foreground_dark;
      }
    }
  }
}

#settingsMenu {
  background: transparent;

  .tabbar {
    margin: 1rem 0 0 0;
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
    justify-items: stretch;
    justify-content: stretch;

    .button {
      flex: 1;
      text-align: center;
    }

    .active {
      color: white;

      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }

    .first {
      border-radius: 2rem 0 0 2rem;
    }

    .middle {
      border-radius: 0;
    }

    .last {
      border-radius: 0 2rem 2rem 0;
    }
  }
}

.settings {
  box-sizing: border-box;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  text-align: left;
  max-height: 90%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .mediaSettings {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;

    .preview {
      margin-right: 2rem;
      min-width: 250px;
      height: auto;
      flex: 1;
    }

    .toggles {
      flex: 1;
      min-width: 250px;
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      color: $button_font_dark;
      background: $foreground_dark;
    }
  }

  .volumeIndicator {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid $accent_light;

    @media (prefers-color-scheme: dark) {
      & {
        border: 1px solid $accent_dark;
      }
    }

    .volume {
      border-radius: 1rem;
      height: 1rem;
      background: $accent_light;

      @media (prefers-color-scheme: dark) {
        & {
          background: $accent_dark;
        }
      }
    }
  }

  .no-media {
    text-align: center;
    padding: 2rem 0;

    div {
      padding: 0 0 2rem 0;
    }
  }

  .videoPreview {
    width: 100%;

    video {
      transform: rotateY(180deg);
      display: block;
      border-radius: 50%;
      margin: 2rem auto;
      box-shadow: $shadow;
      width: 200px;
      height: 200px;
    }
  }

  .userImage {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  .settings-item {
    margin-bottom: 1rem;

    .logout {
      border-color: red;
    }

    > .dialog-content-text {
      color: black;
    }

    > .dropdown {
      //background-color: $focus_light;
      border-radius: .5rem;
    }
  }
}