@import "variables.module";

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: $background_light;

  @media (prefers-color-scheme: dark) {
    & {
      background: $background_dark;
    }
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
